body {
  margin: 0;
  padding: 35px;
  text-align: -webkit-center !important;
  filter: drop-shadow(2px 4px 6px black);
}
body h1 {
  font-size: 3em;
}
body h2 {
  font-size: 2.5em;
}

form {
  width: max-content !important;
}
form label {
  font-size: 1.5em;
  width: 10em !important;
}
form p {
  clear: both;
}
form input[type=text], form input[type=date], form select {
  width: -webkit-fill-available !important;
}
form input[type=ratio] {
  font-size: 1.5em !important;
}
form input:invalid {
  border: 2px solid red;
}
form button {
  width: 80%;
  height: 2rem;
}
form input.error {
  border: 1px solid #FF2323;
}
form li {
  list-style-type: none;
  text-align: start;
}

.quiz {
  margin: auto;
  width: max-content;
}

#errorContainer {
  display: none;
  overflow: auto;
  background-color: #FFDDDD;
  border: 1px solid #FF2323;
  padding-top: 0;
}
#errorContainer label {
  float: none;
  width: auto;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #2C3446;
}

.container th {
  background-color: #1F2739;
}

.container td:first-child {
  color: #FB667A;
}

/*# sourceMappingURL=style.css.map */
